.laptops-div {
  border: 2px solid #d3d3d3;
    /* width: 30%; */
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    align-content: space-around;
    margin: 15px;
    width: 17rem;
    border-radius: 5px;
    
    
}

.laptops-div img {
  width:  100%;
  /* width: 18rem; */
}

.add-button{
  background-color: #b3d7ec;
  border-radius: 5px;
  color: #514538;
  border: solid 1px #514538;
}

.laptops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.div.card-container.card {
  height: 100px;
}