.nav{
  grid-area: N;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  color: #514538;
}
#home-link{
  height: 140px;
}
.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  justify-content: space-evenly;
}
.link{
  text-decoration: none;
    color: black;
    font: Roboto;
}
#ham-icon{
  display: none;
}
@media all and (max-width: 500px) {
  .nav{
    flex-direction: row;
    width: 100%;
  }
.nav-block{
  flex-direction: column;
  width: 20%;
}
/* header button{
  display: block;
  width: 10vw;
  height: 6vh;
} */
.links{
  flex-direction: column;
  align-items: center;
  width:100%
}
#ham-icon{
  display: block;
  height: 7vh;
  margin-top: 6vh;
  margin-right: 2%;
}
}
