.nav {
  grid-area: N;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  color: #514538;
}
.logo {
  width: 20%;
}
#home-link {
  height: 140px;
}
.nav-block {
  width: 50%;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
  color: black;
  font: Roboto;
}

@media all and (max-width: 500px) {
  .nav {
    flex-direction: row;
    width: 100%;
  }
  .nav-block {
    flex-direction: column;
    width: 20%;
  }
}
