.edit-form-content-container{
  grid-area: C;
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.doggo-container{
  width: 65%;
}
#doggo-programmer{
  width: 100%;
  height: 80%;
}
.doggo-padding{

}
.edit-form{
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-evenly;
  padding: 0% 2%;
}
.edit-input-container{
  display: flex;
  flex-direction: column;
}
.edit-input-image-link{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-name{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-price{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-description{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-processor{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-memory{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-hardrive{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.input-buy-link{
  border-style: none;
  background-color: #c4c4c4;
  margin: 2% 0%;
  padding: 3% 0%;
}
.edit-form-button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 7%;
}
.save-button{
  color: black;
  background-color: #B3D7EC;
  border-style: none;
  height: 7vh;
  width: 20vw;
}