.card-name {
  color: #514538;
  letter-spacing: 2px;
  font-weight: bold;
}

.card-price {
  color: #514538;
  letter-spacing: 1px;
}

.card-title {
  padding-top: 20px;
}

.card-price {
  font-size: 14px;
}