.create-form-content-container{
  grid-area: C;
  display: flex;
  flex-direction: row;
  height: 80vh;
}
.create-laptop-image-container{
  width: 65%;
}
#create-laptop{
  width: 100%;
  height: 59%;
  display: block;
}



.create-form{
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-evenly;
  padding: 0% 2%;
}
.create-input-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.add-input-image-link {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 0%;
  padding: 3%;
  margin-bottom: 20px;
}
.add-input-name {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 0%;
  padding: 3% 0%;
  margin-bottom: 20px;
}
.add-input-price {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 0%;
  padding: 3% 0%;
  margin-bottom: 20px;
}
.add-input-description {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 2% 0%;
  padding: 3% 0%;
  margin-bottom: 20px;
}
.add-input-processor {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 2% 0%;
  padding: 3% 0%;
  margin-bottom: 20px;
}
.add-input-memory {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 2% 0%;
  padding: 3% 0%;
  margin-bottom: 20px;
}
.add-input-hardrive {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 2% 0%;
  padding: 3% 0%;
  margin-bottom: 20px;
}
.add-input-buy-link {
  border-style: none;
  background-color: #c4c4c4;
  color: #514538;
  margin: 2% 0%;
  padding: 3% 0%;
  /* margin-bottom: 20px; */
}
.create-form-button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 7%;
}
.create-form-submit-button{
  color: black;
  background-color: #B3D7EC;
  border-style: none;
  height: 7vh;
  width: 20vw;

  margin-bottom: 225px;
}

@media screen and (max-width: 769px) {

  #create-laptop {
    height: 357px;
  }

  .add-input-image-link {
    
    margin-bottom: 12px;
  }
  .add-input-name {
    
    margin-bottom: 12px;
  }
  .add-input-price {
   
    margin-bottom: 12px;
  }
  .add-input-description {
    
    margin-bottom: 12px;
  }
  .add-input-processor {
    
    margin-bottom: 12px;
  }
  .add-input-memory {
    
    margin-bottom: 12px;
  }
  .add-input-hardrive {
   
    margin-bottom: 12px;
  }
  .add-input-buy-link {
    
    padding: 3% 0%;
    /* margin-bottom: 20px; */
  }

  .create-form-submit-button {
    margin-bottom: 155px;
  }
  

}

@media screen and (max-width: 426px) {

  #create-laptop {
    height: 261px;
  }

  .add-input-image-link {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-name {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-price {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-description {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-processor {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-memory {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-hardrive {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 9px;
  }
  .add-input-buy-link {
    
    padding-top: 4px;
    padding-bottom: 4px;
    /* margin-bottom: 20px; */
  }

  .create-form-submit-button {
    margin-bottom: 270px;
    height: 5vh;
  }

  
  

}

@media screen and (max-width: 376px) {

  #create-laptop {
    height: 206px;
  }


  .add-input-image-link {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-name {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-price {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-description {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-processor {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-memory {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-hardrive {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
  }
  .add-input-buy-link {
    
    padding: 3% 0%;
    /* margin-bottom: 20px; */
  }

  .create-form-submit-button {
    margin-bottom: 328px;
    height: 5vh;
  }

  .input-image-link {
    margin-bottom: 12px;
  }
  

}



