.signin-content-container{
 background-image: url('https://i.imgur.com/WAlnyru.png');
 background-size: cover;
 height: 100%;
}

.h2-log-in{
text-align: left;
margin-left: 5%;
margin-bottom: 11%;
}

#signin-image{
  height: 60px;
  width: 60px;
}

.signin-user{
  display: flex;
  flex-direction: row;
  margin-left: 29%;
  margin-bottom: 3%;
}

.signin-input{
  border: none;
  background-color: #eeeeeeb5;
  height: 50px;
  font-size: 20px;
  padding-left: 14px;
  width: 50%;
  margin-top: 4px;
}

.sign-in-button{
  border: none;
  width: 20%;
  height: 35px;
  font-size: 20px;
  margin-bottom: 10%;
  margin-top: 2%;
  background-color: #eeeeeebd;
  }

