.signin-form{
  background-size: cover;
  margin-bottom: 1%;
  display: grid;
  grid-template-rows: 80% 20%;
}

.sign-in-background{
   background-image: url('https://i.imgur.com/q3y2ctF.jpg');
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   padding-bottom: 20%;
   margin-top: 2%;
}

.h2-log-in{
  text-align: left;
  margin-left: 7%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 4%;
}

.signin-user{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.signin-input{
  border: none;
  background-color: #eeeeeeb5;
  position: static;
  height: 100%;
  font-size: 120%;
  padding-left: 25px;
  width: 27%;
  margin-left: 2%;
}

.signin-username{
  background-color: #EEEEEE;
  margin-top: 2%;
  margin-bottom: 2%;
}

#signin-email-logo{
  height: 55px;
}

#signin-username-logo{
  height: 55px;
}

#signin-password-logo{
  height: 55px;
}

#signin-submit-button{
  color: black;
  background-color: #B3D7EC;
  border-style: black 1px solid;
  border-radius: 5px;
  height: 9vh;
  width: 20vw;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.signin-button-redirect-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 2%;
}
#signin-to-signup-link{
  text-decoration: none;
    color: black;
    font: Roboto;
    font-size: 20px;
}

@media all and (max-width: 1100px){
  .h2-log-in{
   margin-top: 3%;
   padding-top: 0%;
 } 
}

@media all and (max-width: 800px){
  .signin-user{
    margin-bottom: 1%;
  }
  #signin-email-logo{
    height: 45px;
  }
  
  #signin-username-logo{
    height: 45px;
  }
  
  #signin-password-logo{
    height: 45px;
  }
}

@media all and (max-width: 550px){
.signin-input{
  width: 40%;
}
.h2-log-in{
  margin-bottom: 1%;
  padding-bottom: 6%;
}
}

@media all and (max-width: 375px) {
  .signin-button-redirect-link{
    display: flex;
    flex-direction: column;
  }
  .h2-log-in{
    margin-bottom: 10%;
  }
  .signin-user{
    margin-bottom: 6%;
  }
  .signin-button{
    align-self: flex-end;
    margin-right: 10%;
   /* padding-right: 5%; */
  }
  #signin-submit-button{
    width: 100%;
  }
  #signin-email-logo{
    height: 25px;
  }
  
  #signin-username-logo{
    height: 25px;
  }
  
  #signin-password-logo{
    height: 25px;
  }
}
